<div id=wrapper #wrapper>
    <header>
        <h1>Poema Morale</h1>
        <h2>Linguistic Atlas of Early Middle English</h2>
    </header>    

<content>
        <h2>References</h2>
        <p>
        Hill, B. (1977) “The Twelfth-Century Conduct of Life, Formerly the Poema Morale or A Moral Ode” in Leeds Studies in English, n.s. 9, 97-144. Leeds University Digital Objects, University Library. Web. 20 January 2015. [https://ludos.leeds.ac.uk:443/R/-?func=dbin-jumpfull&object_id=121820&silo_library=GEN01]
        </p>
        <p>
Hill, B. (1972) “Early English Fragments and MSS Lambeth Palace Library 487, Bodleian Library Digby 4”. Leeds Philosophical and Literary Society.
        </p>
        <p>
        Ker, N. R. (1936) “Proverbs of Alfred: MS. Cotton Galba A. XIX” in Medium Aevum 5. Periodicals archive online, 115.
        </p>
        <p>
        Laing, M. (1992) “A Linguistic Atlas of early Middle English: the Value of Texts surviving in more than one Version” in M Rissanen & E al (eds), History of Englishes: New Methods and Interpretations in Historical Linguistics: Topics in English Linguistics 10. Mouton de Gruyter, Berlin, 566-581.
        </p>
        <p>
        Moore, Samuel (1930) “Manuscripts of the Poema Morale: Revised Stemma” In Anglia - Zeitschrift für englische Philologie. Volume 1930, Issue 54, Pages 269–287.
        </p>
        <p>
        Paues, A. C. (1907) “A Newly Discovered Manuscript of the Poema Morale” In Anglia - Zeitschrift für englische Philologie. Volume 1907, Issue 30, Pages 217–237.
        </p>
        <p>
Sisam, C. (1951) “The Scribal Tradition of the Lambeth Homilies” in The Review of English Studies, Vol. 2, No. 6, 105-113.
        </p>
        <p>
        Zupitza, J. (1878) “Zum Poema Morale”. Anglia 1: 5-38. DigiZeitSchriften. Web. 20 January 2015. [https://www.digizeitschriften.de/dms/img/?PID=GDZPPN000010030]
        </p>
    </content>
    
</div>
