*{box-sizing: border-box}
#wrapper{width:100%;
height:100%;
display:flex;
flex-flow:column nowrap;
    overflow:hidden;
}

.columnMs{
    height:100%;
}

.rowMs{
    width:100%;
}

#controls{
    width:100%;
    background:var(--title1);
    height:10%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    color:white;
        padding: 1%;
    border-bottom: 4px ridge var(--paper);
    box-shadow: 0 0 1em var(--darkest) inset;
    margin-bottom: 0.5%;
}

header{
    width:100%;
    /*background:#2e200d;*/
    background:black;
    height:10%;
    display: flex;
    flex-flow: row nowrap;
    color:var(--paper);
    font-size:var(--bigText);
    padding-left:8em;
    padding-right:1em;
    border-bottom: 4px ridge var(--paper);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url(/assets/images/backgrounds/bestiary2.png);
    background-position: top right;
    background-repeat: no-repeat;
}

h1{
    font-size:var(--banner);
}

app-token-search{
      flex-flow: row nowrap;
    align-items: center;
}


header form{
    display: flex;
    flex-flow: row nowrap;
    margin: 0.2em;
}

content{
    height:87%;
    width:100%;
    background-color:var(--darkest);
    display: flex;
    flex-flow: row wrap;
    overflow:hidden;
    justify-content: space-around;
}

.msWrapper{
    border-radius: 1em 1em 0 0em;
}

.msWrapper:nth-of-type(odd){
    background : var(--paper);
}

.msWrapper:nth-of-type(even){
    background : var(--dPaper);
}

input, button{
    border-radius:0.2em;
    margin:0.2em;
}

button{
    border:2px outset var(--paper);
    background: linear-gradient(var(--dPaper),var(--paper));
    font-weight:bold;
    padding:0.2em;
    font-size:var(--bigText);
}

button:hover{
    box-shadow:0 0 0.2em white;
    background: linear-gradient(var(--paper),var(--dPaper));
}

.icon{
    background:transparent;
    border:2px solid var(--paper);
    color:var(--paper);
    cursor:pointer;
    
}

.icon:hover{
    background: transparent;
}



::-webkit-scrollbar {
 width: 16px;
 height: 16px;
}
::-webkit-scrollbar-thumb {
 background: linear-gradient(0deg, #b30e11 14%,#b30e11 59%);
 border-radius: 7px;
    border:1px solid white;
}
::-webkit-scrollbar-thumb:hover{
 background: linear-gradient(13deg, navy 14%,navy 64%);
}
::-webkit-scrollbar-track{
 background: white;
 border-radius: 7px;
    border:7px  solid black;
}

