
 
     <header>
        <h1>Spelling database</h1>
        <h3>Linguistic Atlas of Early Middle English</h3>
    </header>

    <content>

        <h2>Glossary</h2>

<div class=chapter>
        <p>The spelling database project adopts (and sometimes also adapts) terms originally introduced in LAEME and FITS.  This page briefly defines such terms. See the <i>Introduction to LAEME</i> referenced in each entry for a more comprehensive discussion of the terms (click the red icon).
    </p>

<ul>
    <li><dfn>form</dfn><br> An actual spelling variant, which is associated with a specific lexial item and grammatical tag within a <dfn>LAEME tag</dfn>.
        <a href="http://www.lel.ed.ac.uk/ihd/laeme2/laeme_intro_ch4.html"  appRedirect="" redirectColor="#b30e11">&#8599;</a>
    </li>
        
      
    
    <li><dfn>grammel</dfn><br>  The part of <dfn>LAEME tag</dfn> which more or less corresponds to grammatical tag in other corpora. Grammels sometimes combine morphological information with functional a positional information.
    <a href="http://www.lel.ed.ac.uk/ihd/laeme2/laeme_intro_ch4.html"  appRedirect="" redirectColor="#b30e11">&#8599;</a>
    </li>
    
    <li><dfn>lexel</dfn><br>    The part of the <dfn>LAEME tag</dfn> which identifies the lexical item and roughly corresponds to lemma.
    <a href="http://www.lel.ed.ac.uk/ihd/laeme2/laeme_intro_ch4.html"  appRedirect="" redirectColor="#b30e11">&#8599;</a>
    </li>
    
    <li><dfn>littera</dfn><br>  This term was originally used in the 5th century "guide" for scribes (Laing and Lass, 2013 II: 2.2.1.) and the authors of LAEME adopted it to be used in discussions of spelling systems.  <dfn>Littera</dfn> is an abstract object which may be materialized as one of the possible <i>figurae</i> (which are a matter of palaeography rather than orthography) and each littera may have one or more <dfn>potestates</dfn>, i.e. sound values which it can represent. For instance, <i>ᵹ</i> (insular ᵹ) and <i>Ȝ</i> (yogh) were two different figurae of the same littera having a few possible potestates including /z/ and /x/. 
        The term littera in the context of the spelling database is applied also to digraphs and polygraphs regarded as relatively fixed (e.g. <i>sh</i>, <i>sch</i>, <i>hw</i>) etc. 
         <a href="http://www.lel.ed.ac.uk/ihd/laeme2/laeme_intro_ch2.html"  appRedirect="" redirectColor="#b30e11">&#8599;</a>
</li>
    
    <li><dfn>Litteral Substitution Set (LSS)</dfn><br> is a set of <dfn>litterae</dfn> which may be used to represent a given <dfn>potestas</dfn>. For instance, the LSS <i>sc</i>, <i>sh</i>, <i>sch</i> may represent  [ʃ]. 
       <a href="http://www.lel.ed.ac.uk/ihd/laeme2/laeme_intro_ch2.html"  appRedirect="" redirectColor="#b30e11">&#8599;</a>
    </li>
    
    <li><dfn>potestas</dfn> <br>The term is used within the spelling analysis framework to refer to sound values of different <dfn>litterae</dfn> ("letters").
     <a href="http://www.lel.ed.ac.uk/ihd/laeme2/laeme_intro_ch2.html"  appRedirect="" redirectColor="#b30e11">&#8599;</a>
    </li>
    
    <li><dfn>Potestatic Substitution Set (PSS)</dfn><br>    is a set of <dfn>potestates</dfn> ("sound values") which can be represented by a single <dfn>littera</dfn> ("letter").
   
     <a href="http://www.lel.ed.ac.uk/ihd/laeme2/laeme_intro_ch2.html"  appRedirect="" redirectColor="#b30e11">&#8599;</a>
    </li>
    
    <li><dfn>set</dfn><br>  The term refers to one of the basic units in the database and it was chosen to reflect the connection with <dfn>Litteral Substitution Set</dfn> found in LAEME documentation but it has a broader meaning. While LSS in LAEME refers to the set of <dfn>litterae</dfn> associated with a certain <dfn>potestas</dfn> (sound), <dfn>sets</dfn> in the DB are defined as groups of litterae which at least once appear in the same <dfn>slot</dfn> (position).

    </li>
    
    <li><dfn>slot</dfn><br> This term refers to a position in an item, which may be filled with various litterae in the individual spelling variants (<dfn>forms</dfn>). Every slot is defined by a unique item + its position. For example "FIRE/N (1)" refers to the initial position in the root morpheme of the noun FIRE and the <dfn>litterae</dfn> appearing in this slot include <i>f</i>, <i>v</i>, <i>u</i>. The term has been used within other projects involving segmentation of forms, such as <a href="http://www.amc.lel.ed.ac.uk/?page_id=498">From Inglis to Scots (FITS)</a> (see also Kopaczyk et al. 2018).
    
    </li>
    
    
    <li><dfn>(LAEME) tag</dfn><br> The basic unit of the LAEME corpus is the tag. Each word in an actual MS is represented by one tag in the corpus. Each tag consists of the actual <i>form</i> found in the MS, the so-called <i>lexel</i>, which serves to identify the lexeme (every lexeme may have multiple forms in the corpus) and a <i>grammel</i>, which is the grammatical tag.
    <a href="http://www.lel.ed.ac.uk/ihd/laeme2/laeme_intro_ch4.html"  appRedirect="" redirectColor="#b30e11">&#8599;</a>
    </li>
    
    <li><dfn>text language</dfn> <br>   refers to a reasonably homogenous linguistic system associated with a specific piece of text. A single manuscript can be written in multiple text languages corresponding to different scribes or exemplars.  
    <a href="http://www.lel.ed.ac.uk/ihd/laeme2/laeme_intro_ch1.html"  appRedirect="" redirectColor="#b30e11">&#8599;</a>
    
    </li>
     


</ul>
        </div>       
        
<a [routerLink]="['/references']">References</a>

 <a [routerLink]="['']">Back to Home page</a>


    </content>
    <footer>
        <a href="http://www.amc.lel.ed.ac.uk/" target="_blank">
            <img src="assets/images/amc_banner.jpg">
        </a>

    </footer>
