<header>Previous searches</header>

<content>
<table>
<tr> 
    <th>Label</th>
    <th >Function</th>
    <th> Arguments</th>
    <th>Filters</th>

</tr>
    
<tr *ngFor="let ms of memorySvc.mapSearches"> 
    <th>{{ms.label}}</th>
    <td>{{ms.fnc}}</td>
    <td>{{ms.args}}</td>
    <td>
     <span *ngFor="let f of ms.filters" [appFilterTag]="f">{{f.values}}</span>
    
    </td>
    <th><a [routerLink]="['/map',ms.fnc, ms.args, jsonFilters(ms.filters)]" target="_blank">Map</a></th>
</tr>
    
    
</table>
    
<table>
<tr> 
    <th>Label</th>
    <th >Fields</th>
    <th> Color</th>
    

</tr>
    
<tr *ngFor="let ms of memorySvc.msSearches"> 
    <th>{{ms.label}}</th>
    <td>{{ms.fields}}</td>
    <td>{{ms.color}}</td>

</tr>
    
    
</table>    
    
    
<table>
<tr> 
    <th>Label</th>
    <th >Items</th>
 
    

</tr>
    
<tr *ngFor="let il of memorySvc.itemLists"> 
    <th>{{il.label}}</th>
    <td>{{il.itemList.length}}</td>


</tr>
    
    
</table>    
    
</content>
