*{box-sizing: border-box}
table{
    margin:0.5em;
    border: 2px solid white;
    border-collapse: collapse;
}

td.links{
    display:flex;
}

th:hover{
    box-shadow: 0 0 0.5em white inset;
    cursor: pointer;
}

td,th{
    border: 1px solid white;
    color: white;
    background: #4f391b;
 
}

th.highlight, th.sort{
    color:white;
    background:#b30e11;
}

td.bar{
    width:10em;
}