*{box-sizing: border-box}

#wrapper{
    display:flex;
    flex-flow: column nowrap;
    padding:0.5em;
    border:5px solid var(--title1);
    background : var(--bGradient);
    z-index: 500;
    overflow-y:scroll;
}

.pattern, .split{
    display:flex;
    flex-flow: row nowrap;
}

.pattern{
    border-bottom:1px dashed var(--lightest);
}

.slot, .freq{
    width:2em;
    text-align:center;
padding-top:0.5em;
    margin-right: 1px;
    margin-left: 1px ;
    background: var(--paper);
    color:black;
    font-size:var(--bigText);
    font-weight:bold;
}

.freq{
    color:white;
    background-color:var(--beacon);
}



.leader{
    margin-right: 0.2em;
    border-right: none;
}

.trailer{
    margin-left: 0.2em;
    border-left: none;
}

/*FORMS*/
input, button{
    border-radius:0.2em;
    margin:0.2em;
}

button{
    border:2px outset var(--paper);
    background: linear-gradient(var(--dPaper),var(--paper));
    font-weight:bold;
    padding:0.2em;
    font-size:var(--bigText);
}

button:hover{
    box-shadow:0 0 0.2em white;
    background: linear-gradient(var(--paper),var(--dPaper));
}

.icon{
    background:transparent;
    border:2px solid var(--paper);
    color:var(--paper);
    cursor:pointer;
    
}

.icon:hover{
    background: transparent;
}

::-webkit-scrollbar {
 width: 16px;
 height: 16px;
}
::-webkit-scrollbar-thumb {
 background: linear-gradient(0deg, #b30e11 14%,#b30e11 59%);
 border-radius: 7px;
    border:1px solid white;
}
::-webkit-scrollbar-thumb:hover{
 background: linear-gradient(13deg, navy 14%,navy 64%);
}
::-webkit-scrollbar-track{
 background: white;
 border-radius: 7px;
    border:7px  solid black;
}