#wrapper{
    display:flex;
    flex-flow: column nowrap;
    padding:0.5em;
    border:5px solid #2e200d;
    background : linear-gradient(black, #2e200d);
}

.pattern, .split{
    display:flex;
    flex-flow: row nowrap;
}

.pattern{
    border-bottom:1px dashed silver;
}

.slot, .freq{
    width:2em;
    text-align:center;
    border-right: 1px dashed white;
    border-left: 1px dashed white;
    background: #df8f17;
    color:black;
}

.freq{
    color:white;
    background-color:navy;
}

