*{box-sizing: border-box}

#wrapper{
    transition:height 1s ease-out;
    background: linear-gradient(#4f391b,#2e200d);
    display:none;
    overflow:hidden;
        color: white;
    text-align: justify;
    transition : display 1s;
}

#wrapper div{
    margin:1.5em;
}

h3{
    color: white;
    padding-left: 1em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid white;
}

h2, h4, strong{
    color: #df8f17;
}

h2{
    font-size: 14pt;
    padding: 0.5em;
    border-top: 1px ridge #df8f17;
    border-bottom: 1px ridge #df8f17;
    background-color:black
}

hr{
    color: #df8f17;
}

button{
    border: 1px solid black;
    font-size: 12pt;
    padding: 0.5em;
    color: white;
    background: linear-gradient(#2e200d,#df8f17);
    
    width:100%;
}

.columns{
    column-count:2;
    column-rule: 1px ridge #df8f17;
}

button:hover{
    cursor:pointer;
    box-shadow: 0 0 0.2em white;
}

a{
    color:#df8f17;
}

 span.linkset{
    display:flex;
    flex-flow: row wrap;
}


::-webkit-scrollbar {
 width: 16px;
 height: 16px;
}
::-webkit-scrollbar-thumb {
 background: linear-gradient(0deg, #b30e11 14%,#b30e11 59%);
 border-radius: 7px;
    border:1px solid white;
}
::-webkit-scrollbar-thumb:hover{
 background: linear-gradient(13deg, navy 14%,navy 64%);
}
::-webkit-scrollbar-track{
 background: white;
 border-radius: 7px;
    border:7px  solid black;
}