<div id=wrapper #wrapper>
  <div *ngFor="let m of mss">  
    <h2>{{m.manuscript}}</h2>
    <div>
        <p class=date>date: {{m.date}}</p>
        <p class=date>localisation: {{m.localisation}}</p>
        <p class=date>script: {{m.script}}</p>
        
        <p>{{m.description}}</p>
        
        <a [routerLink]="['/profile',m.id]" target="_blank" appRedirect="manuscript.png"></a>
    </div>
    
    <button (click)=redirectToLaeme(m.id) title="see entry in LAEME">LAEME catalogue</button>
    
    </div>
</div>