*{box-sizing: border-box}


:host{
    display:block;
    height:100%;
}

#wrapper{
    transition:filter 1s ease-out;
height:100%;
}

header{
    flex-flow: row nowrap;
    color: var(--lightest);
    padding-left: 1em;
    background: var(--title1);
   box-shadow: 0 -0.2em 0.5em var(--darkest) inset;
    border-radius: 0.4em 0.4em 0 0em;
    display: flex;
  justify-content: center;
    height:5%;
}

.listTitle{
    flex-flow: row nowrap;
    align-items: center;
    display: flex;
    justify-content: space-between;
    width:100%;
}



input, button{
    border-radius:0.2em;
    margin:0.2em;
}

button{
    border:2px outset var(--paper);
    background: linear-gradient(var(--dPaper),var(--paper));
    font-weight:bold;
    padding:0.2em;
    font-size:var(--bigText);
}

button:hover{
    box-shadow:0 0 0.2em white;
    background: linear-gradient(var(--paper),var(--dPaper));
}

.icon{
    background:transparent;
    border:2px solid var(--paper);
    color:var(--paper);
    cursor:pointer;
    
}

.icon:hover{
    background: transparent;
}

h2{
    margin:0.1em;
}


::-webkit-scrollbar {
 width: 16px;
 height: 16px;
}
::-webkit-scrollbar-thumb {
 background: linear-gradient(0deg, #b30e11 14%,#b30e11 59%);
 border-radius: 7px;
    border:1px solid white;
}
::-webkit-scrollbar-thumb:hover{
 background: linear-gradient(13deg, navy 14%,navy 64%);
}
::-webkit-scrollbar-track{
 background: white;
 border-radius: 7px;
    border:7px  solid black;
}