#wrapper{
    transition:filter 1s ease-out;
    width:100%;
    height:100%;
    display:flex;
    flex-flow: row nowrap;
}

header{
    flex-flow: column nowrap;
    color: white;
    padding: 0.5em;
    background: #4f391b;
    height: 5%;
    transition: height 1s ease-out;
    border-right: 1px solid white;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-radius: 0.4em 0.4em 0 0em;
    display: flex;
  justify-content: center;
}

#map{
    width:700px;
    height:700px;
}

#legend{background-color: #2e200d;
width:7em;
height:100%;
display:flex;
    flex-flow: column nowrap;
}

#legend span{
    font-weight:bold;
    font-size: 15px;
width:100%;
}

input, button{
    border-radius:0.2em;
    margin:0.2em;
}

input[type=color]{
    background : white;
     box-shadow: 0 0 0.5em #c17a10 inset;
    padding:0.2em;
    border: 1px inset #c17a10;
    color:black;
    width:1.5em;
}

button{
    border:2px outset #df8f17;
    background: linear-gradient(#c17a10,#df8f17);
    font-weight:bold;
    padding:0.1em;
    margin:0.1em;
    width:100%;
}

.icon{
    background:transparent;
    border:2px solid #4f391b;
    color:#4f391b;
    cursor:pointer;
    font-weight:bold;
    font-size:14pt;
}

button:hover{
    box-shadow:0 0 0.2em white;
}