label,p{
    color:white;
}

form{
    margin: 200px;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    justify-content: space-around;
}


input, button{
    border-radius:0.2em;

   
}

input[type=text], input[type=password]{
    background : white;
     box-shadow: 0 0 0.5em #c17a10 inset;
    padding:0.2em;
    border: 1px inset #c17a10;
    color:black;
}

button{
    border:2px outset #df8f17;
    background: linear-gradient(#c17a10,#df8f17);
    font-weight:bold;
    padding:0.1em;
    margin:0.1em;
    white-space:nowrap;

}