#wrapper{
    height:100%;
    width:0em;
    overflow:hidden;
    transition: width 1s ease-out;
    display:flex;
    flex-flow:column nowrap;
    background:  linear-gradient(#2e200d,black);; /*#0c253a*/
    border-right: 3px outset white;
    font-size: 16pt;

    color:white;
}


input, button{
    border-radius:0.2em;
    margin:0.2em;
    width:6em;
}

input[type=text], select{
    background : white;
     box-shadow: 0 0 0.5em #c17a10 inset;
    padding:0.2em;
    border: 1px inset #c17a10;
    color:black;
}

button{
    border:2px outset #df8f17;
    background: linear-gradient(#c17a10,#df8f17);
    font-weight:bold;
    padding:0.1em;
    margin:0.1em;
    white-space:nowrap;

}

#button{
    font-size: 16pt;
    border: 1px solid black;
    width:7em;
    padding: 0.5em;
    color: black;
    background: #df8f17;
    margin: 0em;
    transition: background 0.5s ease-out;
    cursor:pointer;
    border: 3px outset white;
    font-weight:bold;
    
}

#button:hover, .link:hover{

    box-shadow: 0 0 0.5em white inset;
  
}

.link{
    font-size: 14pt;
    color: white;
    background: transparent;
    border:none;
    border-bottom: 1px solid white;
    padding: 0.2em;
    width:100%;
    border-radius:0;
}

