<button (click)="toggle()" id="button"></button>
<div id=wrapper #wrapper>
    
    <button class="link" *ngFor="let l of publicLinks" (click)="submitLink(l.fnc)">{{l.label}}</button>
    
  
   
    
    <div *ngIf="loginSvc.verifyToken()">
            <button class="link" *ngFor="let l of privateLinks" (click)="submitLink(l.fnc)">{{l.label}}</button>
        
         Quick search:
    <app-search-box (requestSearch)=submitQuickLink($event) 
                    [functions]="quickLinks"
                     layout="vertical"></app-search-box>
    
    
    <span>MS searches: {{ memorySvc.msSearches.length}}</span><br/>
     <button (click)=memorySvc.clearMsSearches()>Clear</button><br/>
    <span>Map searches: {{ memorySvc.mapSearches.length}}</span><br/>
     <button (click)=memorySvc.clearMapSearches()>Clear</button><br/>
        <button (click)="loginSvc.logOut()">Log Out</button>
    </div>
    
    <app-login *ngIf="!loginSvc.verifyToken()" margin="5px" alrt="F"></app-login>
   
    
</div>