*{box-sizing: border-box;}

#wrapper{
    height:100%;
    width:0em;
    overflow:hidden;
    transition: width 1s ease-out;
    display:flex;
    flex-flow:column nowrap;
    background:  var(--bGradient); /*#0c253a*/
     border-right: 4px ridge var(--paper);
    font-size: 16pt;

    color:var(--lightest);
}


input, button{
    border-radius:0.2em;
    margin:0.2em;
    width:6em;
}

input[type=text], select{
    background : white;
     box-shadow: 0 0 0.5em var(--dPaper) inset;
    padding:0.2em;
    border: 1px inset var(--dPaper);
    color:black;
}

button{
    border:2px outset var(--paper);
        background-color: var(--thinPaper);
    color: var(--darkest);    
    font-weight:bold;
    padding:0.1em;
    margin:0.1em;
    white-space:nowrap;

}

#button{
    font-size: var(--bigText);
    width:7em;
    height:10%;
    padding: 0.5em;
    color: black;
    background-color: var(--thinPaper);
    margin: 0em;
    transition: background 0.5s ease-out;
    cursor:pointer;
    border-bottom: 4px ridge var(--paper);
    border-right: 4px ridge var(--paper);
    font-weight:bold;
    border-radius:0;
    background-image: url(/assets/images/icons/menu.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 80%;
}

#button:hover, .link:hover{

   background-color: var(--paper);
   
}

.link{
    font-size: var(--bigText);
    color: black;
    background-color: var(--thinPaper);
    border:none;
    border-bottom: 1px solid var(--paper);
    padding:  0.2em 0 0.2em 0;
    width:100%;
    border-radius:0;
    margin-top:0.4em;
}


::-webkit-scrollbar {
 width: 16px;
 height: 16px;
}
::-webkit-scrollbar-thumb {
 background: linear-gradient(0deg, #b30e11 14%,#b30e11 59%);
 border-radius: 7px;
    border:1px solid white;
}
::-webkit-scrollbar-thumb:hover{
 background: linear-gradient(13deg, navy 14%,navy 64%);
}
::-webkit-scrollbar-track{
 background: white;
 border-radius: 7px;
    border:7px  solid black;
}