<button (click)="toggle()" id="button">Menu</button>
<div id=wrapper #wrapper>
    
    <button class="link" *ngFor="let l of links" (click)="submitLink(l.fnc)">{{l.label}}</button>
    
    Quick search:
    
    <app-search-box (requestSearch)=submitQuickLink($event) [functions]="quickLinks"></app-search-box>
    
    <div *ngIf="loginSvc.verifyToken()">
    <span>MS searches: {{ memorySvc.msSearches.length}}</span><br/>
     <button (click)=memorySvc.clearMsSearches()>Clear</button><br/>
    <span>Map searches: {{ memorySvc.mapSearches.length}}</span><br/>
     <button (click)=memorySvc.clearMapSearches()>Clear</button><br/>
        <button (click)="loginSvc.logOut()">Log Out</button>
    </div>
    
    <app-login *ngIf="!loginSvc.verifyToken()" margin="5px"></app-login>
   
    
</div>