*{box-sizing: border-box}

.horizontal{
    display:flex;
    flex-flow:row nowrap;
    align-items:center;
}

.horizontal{
    display:flex;
    flex-flow:row wrap;
  
}

/*FORMS*/
input, button{
    border-radius:0.2em;
    margin:0.2em;
}

button{
    border:2px outset var(--paper);
    background: linear-gradient(var(--dPaper),var(--paper));
    font-weight:bold;
    padding:0.2em;
    font-size:var(--bigText);
}

button:hover{
    box-shadow:0 0 0.2em white;
    background: linear-gradient(var(--paper),var(--dPaper));
}

.icon{
    background:transparent;
    border:2px solid var(--paper);
    color:var(--paper);
    cursor:pointer;
    
}

.icon:hover{
    background: transparent;
}