*{box-sizing: border-box}


:host{
    height:100%;
    display:block
}

#wrapper {
    box-shadow: 0 0 2em var(--darkest) inset;
        overflow:scroll;
height:96%;
padding: 1em;
    display: flex;
    flex-flow: column wrap;
scroll-behavior: smooth}

header{
    flex-flow: row nowrap;
    color: var(--lightest);
    padding-left: 1em;
    background: var(--title2);
   box-shadow: 0 -0.2em 0.5em var(--darkest) inset;
    border-radius: 0.4em 0.4em 0 0em;
    display: flex;
  justify-content: center;
}

.msTitle{
    flex-flow: row nowrap;
    align-items: center;
    display: flex;
    justify-content: space-between;
    width:100%;
}



.msLine{
    font-size: var(--bigText);
    margin: 0.2em;
    border-radius : 0.2em;
    display:flex;
        
            flex-flow: row wrap;
    width: 100%;
}

.msToken{
    padding:0.15em;
     border-radius : 0.2em;
}





button{
    border:2px outset var(--paper);
    background: linear-gradient(var(--dPaper),var(--paper));
    font-weight:bold;
    padding:0.2em;
    font-size:var(--bigText);
}

button:hover{
    box-shadow:0 0 0.2em white;
    background: linear-gradient(var(--paper),var(--dPaper));
}

button.round{
    background: transparent;
   /* border-radius: 50%;*/
    font-weight: bold;
    font-size: 9pt;
    text-align: center;
    border: none;
    border-left: 2px solid var(--icon);
    color: var(--icon);
}

button.round:hover{
    background: rgba(255,255,255,0.5);
}

.icon{
    background:transparent;
    border:2px solid var(--paper);
    color:var(--paper);
    cursor:pointer;
    margin: 0.5em;
    
}

.icon:hover{
    background: transparent;
}


::-webkit-scrollbar {
 width: 16px;
 height: 16px;
}
::-webkit-scrollbar-thumb {
 background: linear-gradient(0deg, #b30e11 14%,#b30e11 59%);
 border-radius: 7px;
    border:1px solid white;
}
::-webkit-scrollbar-thumb:hover{
 background: linear-gradient(13deg, navy 14%,navy 64%);
}
::-webkit-scrollbar-track{
 background: white;
 border-radius: 7px;
    border:7px  solid black;
}
