<header>
    <h1>Browse texts</h1>
        </header>


<content>
<table >
<tr> 
    <th class="sort">Title
    
     <button [appOrder]="titles" orderCrit="title"></button>
    </th>
    <th class="sort">Manuscripts</th>
   
</tr>
    
<tr *ngFor="let t of titles"> 
    <th>{{t.title}}</th>

  
    
     <td>  <ul>
             <li  *ngFor="let ms of t.mss">
         <a (click)=setSvc.redirectToLaeme(ms.textId) appRedirect="" redirectColor="#b30e11">{{ms.textId}}</a>
         <a [routerLink]="['/profile',ms.textId]" target="_blank" appRedirect="manuscript.png"></a>
                 &nbsp; {{ms.beg}}&nbsp;<span *ngIf=ms.note>({{ms.note}})</span>
         </li>
            </ul>
    </td>

    </tr>
    
    
</table>
</content>