<div id=wrapper @appear [@fullScreen]="viewMode" #wrapper>
    <header (dblclick)="toggleFullScreen()">
        <div class="listTitle">
            <h2> Item list: {{queryData.args[0]}}</h2>
            <div id=filters>
                <span *ngFor="let f of queryData.filters" [appFilterTag]="f">{{f.values}}</span>
            </div>
            <span>
                <button [appExpansion]="content"></button>
                <button (click)="hide()" class=icon *ngIf="open">X</button>
            </span>
        </div>


    </header>
    <div id=content #content>

        <table id=list >

           

            <tr>
                <th *ngIf="enableSelect" class="sort minColumn"><input type="checkbox" (change)=selectAll()></th>
                <th class="sort">Lexel / WC
                    <button [appOrder]="items" orderCrit="lexel"></button>

                </th>
                <th class="sort bigColumn" [style.width]="viewMode=='default' ? '70%':'35%'">Litterae</th>

                <th class="sort bigColumn" *ngIf="viewMode!='default'"><button (click)="saveSelection()">Save</button></th>
                <th class="sort" *ngIf="itemAction">Search</th>
                <th class="sort minColumn">Map</th>
              
              

            </tr>

            <tr *ngIf="itemAction">
                <th colspan=3 class="link" (click)="submitSelection()"> {{itemAction}} selected </th>
            </tr>
            <tr *ngFor="let i of items" @appear>
                <th *ngIf="enableSelect" class=checkbox>
                    <input type=checkbox [(ngModel)]="i.selected"></th>
                
                <th (click)="loadSplits(i.morphid, i.pos)" [id]="i.morphid+'-'+i.pos" [style.box-shadow]="i.comparable.length>1 ? '0px 0px 0.3em inset white':'none'">
                    <dfn>{{i.lexel}}/{{i.wordClass}} ({{i.pos}})</dfn> </th>

                <td class=lits>
                    <span class=lit *ngFor="let l of i.litterae">{{l.str}}/{{l.tokens}}</span>
                </td>
                
                <th class="link" (click)="submitItem(i)" *ngIf="itemAction">
                    {{itemAction}} </th>
                <td *ngIf="viewMode!='default'">
                    <span class=links> <a *ngFor="let chl of i.cone" (click)=setSvc.redirectToCone(chl) appRedirect="" redirectColor="#b30e11" [redirectCode]="chl">{{chl}}</a></span>

                    <!--  <a   [routerLink]="['/edit',i.morphid]" target="_blank">EDIT</a>-->
                </td>
                <td> <a appRedirect="map.png" [routerLink]="['/map/mapSlot',i.morphid+'-'+i.pos]" target="_blank"></a></td>
           
            </tr>
        </table>


        <app-splits (cmpLoaded)="moveSplits()" #splits></app-splits>
    </div>
</div>