<div id=wrapper #wrapper>
    <div id=header>
        <div id=filters>
        <span *ngFor="let f of queryData.filters" [appFilterTag]="f">{{f.values}}</span>
    </div>
    </div>
    <div id=content>
        
    <table id=list>
        <tr><th colspan=3 class="link" (click)="submitSelection()">Submit</th></tr>
        <tr *ngFor="let i of items">
            <th *ngIf="enableSelect"><input type=checkbox [(ngModel)]="i.selected"></th>
            <th (click)="loadSplits(i.morphid, i.pos)">{{i.lexel}}/{{i.wordClass}} ({{i.pos}})</th>
            <td><span class=lit *ngFor="let l of i.litterae">{{l.str}}({{l.tokens}})</span></td>
            <th class="link" (click)="submitItem(i)">
                Submit
            </th>
            <td>
             <a  class=icon [routerLink]="['/map/mapSlot',i.morphid+'-'+i.pos]" target="_blank">>></a>
            </td>
        </tr>
    </table>    

    
    <app-splits #splits></app-splits>
    </div>
</div>