*{box-sizing: border-box}


:host{
    padding:0.5em;
}

#wrapper{
    transition: height 1s ease-out, display 1s ease-out;
   height:0;
  /*  background: var(--bGradient);*/
    flex-flow:column nowrap;
}

header{
    flex-flow: row nowrap;
    color: white;
    padding-left: 1em;
    background: var(--title2);
   box-shadow: 0 -0.2em 0.5em var(--darkest) inset;
    border-radius: 0.4em 0.4em 0 0em;
    display: flex;
  justify-content: center;
}


.listTitle{
    flex-flow: row nowrap;
    align-items: center;
    display: flex;
    justify-content: space-between;
    width:100%;
}

.listTitle span{
    display:flex;
    flex-flow: row nowrap;
    align-items:center;
    justify-content:center;
}

#content{
    display:flex;
    max-height: 30em;
    flex-flow: column nowrap;
     overflow-y:scroll;
    overflow-x: hidden;
      transition: max-height 1s ease-out;
    width:100%;
    background:var(--title2);
}


/*lit boxes*/
.lit{
    padding:0.3em;
    margin:0.3rm;
    font-weight:bold;
    font-size:var(--bigText);
    border-radius:0.2em;
    /* border-left : 1px dashed white; */
}

span.lit:nth-of-type(even){
 
   /* border-bottom:2px solid white;*/
    color:var(--darkest);
    background-color:var(--lightest);
}

span.lit:nth-of-type(odd){

   /* border-bottom:2px solid  #c17a10;*/
      color:var(--darkest);
    background-color:var(--dPaper);
}



/*table styles*/

table{

    border: none;
     border-collapse: separate;
  border-spacing: 3px;
    width:100%;
    table-layout: fixed;
    width:100%;
}

th.minColumn{
    width:2.5em;
}

th.bigColumn{
    width:35%;
}


td,th{
    border: none;
    color: white;

}

th{
    background:var(--paper);
    color:black;
}


td{
background-color:var(--darkest);
    word-wrap: break-word;
}

th.highlight, th.sort{
    color:var(--lightest);
    background:var(--beacon);
}

/*component-specific table classes*/

td.lits{
        display:flex;
    flex-flow:row wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    padding: 1em;
}

.links{
        display:flex;
    flex-flow:row wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    padding: 0.7em;
}

/*buttons*/
input, button{
    border-radius:0.2em;
    margin:0.2em;
}

button{
    border:2px outset var(--paper);
    background: linear-gradient(var(--dPaper),var(--paper));
    font-weight:bold;
    padding:0.2em;
    font-size:var(--bigText);
}

button:hover{
    box-shadow:0 0 0.2em white;
    background: linear-gradient(var(--paper),var(--dPaper));
}

.icon{
    background:transparent;
    border: 2px outset var(--lightest);
    color: var(--lightest);
    cursor:pointer;
    font-size:var(--normalText);
    font-weight:normal;
    
}

.icon:hover{
    background: transparent;
}


h2{
    margin:0.1em;
}


dfn{
    font-variant: small-caps;
    font-style: normal;
    font-size:16pt;
    
}

::-webkit-scrollbar {
 width: 16px;
 height: 16px;
}
::-webkit-scrollbar-thumb {
 background: linear-gradient(0deg, #b30e11 14%,#b30e11 59%);
 border-radius: 7px;
    border:1px solid white;
}
::-webkit-scrollbar-thumb:hover{
 background: linear-gradient(13deg, navy 14%,navy 64%);
}
::-webkit-scrollbar-track{
 background: white;
 border-radius: 7px;
    border:7px  solid black;
}
