#wrapper{
    transition: height 1s ease-out;
    height:0;
    overflow:scroll;
}

#content{
    display:flex;
    flex-flow: column nowrap;
    
}

table{
    margin:0.5em;
    border: 2px solid white;
    border-collapse: collapse;
}


th.link{
    background:#c17a10;
}

td,th{
    border: 1px solid white;
    color: white;
    background: #4f391b;
}

th:hover{
    box-shadow: 0 0 0.5em white inset;
    cursor: pointer;
}



