<div id=wrapper #wrapper>
    <header>
        <app-search-box (requestSearch)="mapSearch($event)"
                        [functions]=searchFncs>
        </app-search-box>
        <button *ngFor="let ps of previousSearches">
        {{ps.label}}
        </button>
    </header>
    
    <content>
<app-map (msClicked)=displayMs($event) #map></app-map>

<!--<app-set-list (mapSet)=changeMap($event) #setList></app-set-list>-->
    <div id=setList #setList>
 <app-set *ngFor="let s of sets" [set]=s (mapSet)=changeMap($event) 
 (requestItem)= mapItem($event)
 (requestSelection)=mapSelection($event)
          #set></app-set>
    </div>
    <div id=selected #selected>
        <h3>Selected text:{{selectedText.id}} </h3>
<app-item-list (mapItem)=changeMap($event) #itemList></app-item-list>
    </div>
    </content>
</div>