<div id=wrapper #wrapper>
    <header>
        <h3>Maps</h3>
        <input type=text placeholder="search label" [(ngModel)]="searchLabel">
        <select  id ="previousSearch" title="previous searches" 
                (change)="switchLayer(memorySvc.mapSearches[$event.target.value])" >
            <option *ngFor="let ps of memorySvc.mapSearches | keyvalue" [value]="ps.key">{{ps.value.label}}: {{ps.value.args}}</option>
        </select>
        
   <button  *ngIf="searchMode=='simple'"
                (click)="searchMode='advanced'">Advanced search</button>
        
          <button  *ngIf="searchMode=='advanced'"
                (click)="searchMode='simple'">Simple search</button>
        
          <app-search-box *ngIf="searchMode=='simple'"
                          (requestSearch)="mapSearch($event)"
                        [functions]=searchFncs[0]>
        </app-search-box>
        
       
        <app-search-box-advanced *ngIf="searchMode=='advanced'" (requestSearch)="mapSearch($event)"
                        [functions]=searchFncs[1]
                        [filters]=filters>
        </app-search-box-advanced>
        
        
        
    </header>
    
    <content>
<app-map (msClicked)=displayMs($event) #map></app-map>

<!--<app-set-list (mapSet)=changeMap($event) #setList></app-set-list>-->
    <div id=setList >
        <div class=header><h3>Sets</h3></div>
        
        <app-set-list [searchMode]="setSearchMode" #setList></app-set-list>
        
 <!--<app-set *ngFor="let s of sets" 
          [set]=s 
          [queryData]=queryData
          [colorKey] = "map.colorKey"
          (mapSet)=changeMap($event) 
 (requestItem)= mapItem($event)
 (requestSelection)=mapSelection($event)
          #set></app-set>-->
    </div>
    <div id=selected #selected>
        <div class=header> <h3>Selected text:{{selectedText.id}} </h3></div>
        <app-ms-info #msInfo></app-ms-info>        
        
<app-item-list (requestItem)=mapItem($event)
               (requestSelection)=mapSelection($event)
               #itemList></app-item-list>
    </div>
    </content>
</div>