#wrapper{
   background: transparent;
    color: white;
    padding: 0.5em;
    display: none;
    overflow: hidden;
    margin-left: -1.5em;
    margin-top: -1.5em;
}


#litterae{ /*=table*/
    width:100%;
    border:none;
    border-collapse:collapse;
     background: linear-gradient(#4f391b,#2e200d);
}

tr.littera th, tr.littera td{
    border: 1px solid white;
    font-size:14pt;
}

tr.littera td{
    text-align : center;
}

tr.littera{
    cursor:pointer;
}

tr.littera:hover{
       background: rgba(255,255,255,0.8);
    color: darkblue; 
}

th.highlight{
    color:blue;
    background:white;
}
