input, button{
    border-radius:0.2em;
    margin:0.2em;
}

input[type=text], select{
    background : white;
     box-shadow: 0 0 0.5em #c17a10 inset;
    padding:0.2em;
    border: 1px inset #c17a10;
    color:black;
}
