#container, #wrapper{
    width:1500px;
    height:100%;
    background-color:#df8f17;
}

#wrapper{
    flex-flow:column nowrap;
}

header{
    width:100%;
    background:#2e200d;
    height:7%;
    display: flex;
    flex-flow: row nowrap;
    color:#df8f17;
    font-size:16pt;
    padding-left:8em;
    border-bottom: 2px solid #df8f17;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
