*{box-sizing: border-box}

#wrapper{
    display:flex;
    flex-flow: column nowrap;
    padding:0.5em;
    border:5px solid #2e200d;
    background : linear-gradient(black, #2e200d);
    margin-top:5em;
}

.pattern, .split{
    display:flex;
    flex-flow: row nowrap;
}

.pattern{
    border-bottom:1px dashed silver;
}

.slot, .freq{
    width:2em;
    text-align:center;
padding-top:0.5em;
    border-right: 1px dashed white;
    border-left: 1px dashed white;
    background: #df8f17;
    color:black;
    font-size:14pt;
    font-weight:bold;
}

.freq{
    color:white;
    background-color:#b30e11;
}

input{
    font-size:14pt;
}


.leader{
    margin-right: 0.2em;
    border-right: none;
}

.trailer{
    margin-left: 0.2em;
    border-left: none;
}