*{box-sizing: border-box}

:host{
    display:block;
    width:100%;
    height:100%;
}

header{
    flex-flow: row nowrap;
    color: var(--lightest);
    padding-left: 1em;
    background: var(--title1);
   box-shadow: 0 -0.2em 0.5em var(--darkest) inset;
    border-radius: 0.4em 0.4em 0 0em;
    display: flex;
  justify-content: center;

}

.listTitle{
    flex-flow: row nowrap;
    align-items: center;
    display: flex;
    justify-content: space-between;
    width:100%;
}

#wrapper{width:100%;
height:100%;
display:flex;
flex-flow:column nowrap;
    overflow:hidden;
    padding:5px;
}

#filters{
    padding:0.5em;
}

content{
      transition: max-height 1s ease-out;
    max-height:inherit;
    overflow-y:scroll;
        overflow-x:hidden;
}

h2{
    margin:0.1em;
}


::-webkit-scrollbar {
 width: 16px;
 height: 16px;
}
::-webkit-scrollbar-thumb {
 background: linear-gradient(0deg, #b30e11 14%,#b30e11 59%);
 border-radius: 7px;
    border:1px solid white;
}
::-webkit-scrollbar-thumb:hover{
 background: linear-gradient(13deg, navy 14%,navy 64%);
}
::-webkit-scrollbar-track{
 background: white;
 border-radius: 7px;
    border:7px  solid black;
}


::-webkit-scrollbar {
 width: 16px;
 height: 16px;
}
::-webkit-scrollbar-thumb {
 background: linear-gradient(0deg, #b30e11 14%,#b30e11 59%);
 border-radius: 7px;
    border:1px solid white;
}
::-webkit-scrollbar-thumb:hover{
 background: linear-gradient(13deg, navy 14%,navy 64%);
}
::-webkit-scrollbar-track{
 background: white;
 border-radius: 7px;
    border:7px  solid black;
}