<div id=wrapper #wrapper>
    <div id=topRow>
    <div id=members>
        <span class=setMember *ngFor="let m of set.members" [style.border-width]="calcBorder(m.tokens)">{{m.str}}</span>
    </div>
    <div id=freqs>    
        {{set.types}} / {{set.tokens}}
    </div>
        
        <div id=links>
            <button (click)="requestMap()">Map</button>
        </div>
        
</div>
    <button (click)="loadItems()">Load items</button>
    <app-item-list #itemList></app-item-list>
    
</div>