

    <header>
        <h1>Spelling database</h1>
        <h3>Linguistic Atlas of Early Middle English</h3>
    </header>
    
    <content>
        
      
        

        
        
         <div class=columnMain>
     <h3>About this website</h3>
            
            
             
             <p>
             This website serves as an interface designed specifically to access a spelling database created from The Linguistic Atlas of Early Middle English (LAEME). The core feaure of the database is that searches can target word segments (litterae). Basic searches include:
             </p>     
             
            <ul>
                <li>List all the alternatives of a selected littera</li>
                <li>List all lexels (lemmata) where a given grapheme alternates with others</li>
                <li>Similarly to LAEME, the interface includes construction of maps. </li>
             </ul>
             
            <p>
             Apart from these simple searches the interface allows you to display "profiles" of individual texts and compare them. 
             </p>
             
              <p class=alert>
                 <b>This website is under development and is not yet publicly accessible. 
                     
                    <ul>
                         <li>You can read more about the Spelling database project <a [routerLink]="['/overview']">here</a>.</li>
                        
                        <li>For a smaller-scale project covering the seven texts of <i>The Poema Morale</i> see <a href="http://pm-spelling.delfiin.net/#/">this link</a>.</li>
                     </ul>    
                     
                     </b>
             </p>
            
             <p>
  By using this website, users undertake to  use it only for non-commercial, non-profit educational and research purposes.  Filing or printing any part(s) of the data is only allowed for the purposes of private
reference, research, study or provision of teaching materials for classes taught within
a recognized educational institution.
             </p>
             
            
             
            
        </div>
        
        
          <div class=column>
     <h3>About LAEME</h3>
            
          <p>
      LAEME was designed as a research tool enabling access to information on Early Middle English texts and dialects. It was published in electronic form and is accessible online. Its basis is a corpus of Early Middle English texts. The size of the corpus is 650,000 words and it has detailed lexico-grammatical tagging as well as information about the original manuscripts. A searchable index of sources and information about the individual manuscripts are also available.
        </p>
              
              <p>
              The permission to display selected data from LAEME is granted under the condition that the use of this
website as well as its associated database and documentation is subject to the
same terms and conditions as LAEME, for which see the link below.
              </p>
              
            <p>
               
                <a href="http://www.lel.ed.ac.uk/ihd/laeme2/front_page/laeme_copyright.html" target="_blank">LAEME copyright statement</a><br>
                 <a href="http://www.lel.ed.ac.uk/ihd/laeme2/laeme2.html" target="_blank">Go to LAEME</a>
                
              </p>  
            
        </div>
        
       
        
  
        
         
        
    
    </content>    
    
    
   
    
    
    <footer>
       <div>  <a href="http://ff.cuni.cz/" target="_blank">
    <img src="assets/images/logo_ffuk.JPG">
        </a> 
          <p>
        The production of this website was made possible by the kind consent of Angus McIntosh Cnter for Historical Linguistics and the University of Edinburgh responsible for the production of LAEME. <br>
        Site created by <a href="mailto:vankova.maru@gmail.com">Marie Vaňková</a> (Faculty of Arts, Charles University).<br>
        Generously supported by the Progres grant scheme of Charles University.<br> 
              </p> 
        </div>
        
        
        <div>
           
        <a href="http://www.amc.lel.ed.ac.uk/" target="_blank">
    <img src="assets/images/amc_banner.jpg">
        </a>
        </div>
    
    </footer>

