*{box-sizing: border-box}

#wrapper{
    width:100%;
    background: linear-gradient(black, #2e200d);
    color: white;
    display:flex;
    flex-flow: column nowrap;
    align-items:center;
    padding:2%;
}

header{
    width:100%;
    background:#2e200d;
    height:7%;
    display: flex;
    flex-flow: row nowrap;
    color:#df8f17;
    font-size:16pt;
    padding-left:8em;
    border-bottom: 2px solid #df8f17;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

content{
    display: flex;
    flex-flow: row wrap;
}


content div{
    padding:2%;
}

p.big{
    width:100%;
}

div.column{
    width:30%;
}

div.columnMain{
    width:40%;
    border-left : 1px solid #df8f17;
      border-right : 1px solid #df8f17;
}

.enterButton{
    border: 1px solid black;
    font-size: 22pt;
    padding: 0.5em;
    color: white;
    background: linear-gradient(#2e200d,#df8f17);
    margin: 0.5em;
    transition: background 0.5s ease-out;
    cursor:pointer;
}

.enterButton:hover{

    background: linear-gradient(#df8f17,#2e200d);
  
}


p{
    text-align:justify;
}

h1, h2, h3, a{
    color:#df8f17;
    margin:0.1em;
}

h1{
    font-size:30pt;
}

footer{
    width:100%;
    border-top:2px solid #df8f17;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

footer div {
    max-width:50%;
    display: flex;
    flex-flow: row nowrap;
}

footer div img{
    max-width:100%;
    padding:0.5em;
}