<div id=wrapper #wrapper>
<header>
    <h1>Spelling Database</h1>
    <h2>Linguistic Atlas of Early Middle English</h2>
</header>
    
    <content>
        
         <p class=big>
        This webpage provides access to a databse of Early Middle English spelling based on the Linguistic Atlas of Early Middle English (LAEME). 
        </p>
       
        
         <div class=column>
     <h3>About the Database</h3>
        
        <p>
       The construction of the database consisted in processing the data from LAEME using the method of grapho-phonological parsing. This produced an extra layer of data to the original LAEME corpus and opened new search possibilities. 
        </p>
             
             
        </div>
        
        
         <div class=columnMain>
     <h3>About this website</h3>
            
             <p>
             This website serves as an interface designed specifically to access the spelling database. The core feaure of the database is that searches can target graphemes (litterae) rather than morhemes. Basic searches include:
             </p>     
             
            <ul>
                <li>List all the alternatives of a selected littera</li>
                <li>List all lexels (lemmata) where a given grapheme alternates with others</li>
                <li>Similarly to LAEME, the interface includes construction of maps. </li>
             </ul>
             
            <p>
             Apart from these simple searches the interface allows you to display "profiles" of individual texts and compare them. 
             </p>
            
             <p>
  By using this website, users undertake to  use it only for non-commercial, non-profit educational and research purposes.  Filing or printing any part(s) of the data is only allowed for the purposes of private
reference, research, study or provision of teaching materials for classes taught within
a recognized educational institution.
             </p>
             
            
        </div>
        
        
          <div class=column>
     <h3>About LAEME</h3>
            
          <p>
      LAEME was designed as a research tool enabling access to information on Early Middle English texts and dialects. It was published in electronic form and is accessible online. Its basis is a corpus of Early Middle English texts. The size of the corpus is 650,000 words and it has detailed lexico-grammatical tagging as well as information about the original manuscripts. A searchable index of sources and information about the individual manuscripts are also available.
        </p>
              
              <p>
              The permission to display data from LAEME is granted under the condition that the use of this
website as well as its associated database and documentation is subject to the
same terms and conditions as LAEME, for which see the link below.
              </p>
              
            <p>
               
                <a href="http://www.lel.ed.ac.uk/ihd/laeme2/front_page/laeme_copyright.html" target="_blank">LAEME copyright statement</a><br>
                 <a href="http://www.lel.ed.ac.uk/ihd/laeme2/laeme2.html" target="_blank">Go to LAEME</a>
                
              </p>  
            
        </div>
        
       
        
  
        
         
        
    
    </content>    
    
    
    <a class=enterButton (click)="redirect()">Enter</a>
    
    
    <footer>
       <div>  <a href="http://ff.cuni.cz/" target="_blank">
    <img src="assets/images/logo_ffuk.JPG">
        </a> 
          <p>
        The production of this website was made possible by the kind consent of Angus McIntosh Cnter for Historical Linguistics and the University of Edinburgh responsible for the production of LAEME. <br>
        Site created by <a href="mailto:vankova.maru@gmail.com">Marie Vaňková</a> (Faculty of Arts, Charles University).<br>
        Generously supported by the Progres grant scheme of Charles University.<br> 
              </p> 
        </div>
        
        
        <div>
           
        <a href="http://www.amc.lel.ed.ac.uk/" target="_blank">
    <img src="assets/images/amc_banner.jpg">
        </a>
        </div>
    
    </footer>

</div>