*{box-sizing: border-box}

#wrapper{
    width:100%;
    background: linear-gradient(black, #2e200d);
    color: white;
    display:flex;
    flex-flow: column nowrap;
    align-items:center;
    padding:2%;
}

header{
    width:100%;
    /*background:#2e200d;*/
    background:black;
    height:10%;
    display: flex;
    flex-flow: row nowrap;
    color:#df8f17;
    font-size:16pt;
    padding-left:8em;
    padding-right:1em;
    border-bottom: 4px ridge #df8f17;
    display: flex;
    align-items: center;
    justify-content: space-between;
        background-image: url(/assets/images/backgrounds/bestiary2.png);
    background-position: top right;
    background-repeat: no-repeat;

    box-sizing: border-box;
}

content{
    display: flex;
    flex-flow: row wrap;
    background: linear-gradient(black, #2e200d);
     color: white;
     font-size:16pt;
    height:80%;
        width: 90%;
    margin: 2% 5% 2% 5%;
}


footer{
    display:flex;
flex-flow:row nowrap;
    background-color:black;
    border-top: 4px ridge #df8f17;
    align-items: center;
    padding: 0.5em;
    color:white;
    height:10%;
     justify-content: space-between;
}

content div{
    padding:2%;
       
}

p.big{
    width:100%;
}

div.column{
    width:50%;
    padding:2em;

}

div.columnMain{
    width:50%;
  
      border-right : 1px solid #df8f17;
}

.enterButton{
    border: 1px solid black;
    font-size: 22pt;
    padding: 0.5em;
    color: white;
    background: linear-gradient(#2e200d,#df8f17);
    margin: 0.5em;
    transition: background 0.5s ease-out;
    cursor:pointer;
}

.enterButton:hover{

    background: linear-gradient(#df8f17,#2e200d);
  
}


p{
    text-align:justify;
}

p.alert{
    border-radius: 0.2em;
    padding: 0.2em;
    margin: 0.3em;
    color: white;
    border: 1px dashed white;
    background-color: rgb(179, 14, 17);
}


h1, h2, h3, a{
    color:#df8f17;
    margin:0.1em;
}

h1{
    font-size:30pt;
}


footer div {
    max-width:50%;
    display: flex;
    flex-flow: row nowrap;
}

footer div img{
    max-width:100%;
    padding:0.5em;
}


::-webkit-scrollbar {
 width: 16px;
 height: 16px;
}
::-webkit-scrollbar-thumb {
 background: linear-gradient(0deg, #b30e11 14%,#b30e11 59%);
 border-radius: 7px;
    border:1px solid white;
}
::-webkit-scrollbar-thumb:hover{
 background: linear-gradient(13deg, navy 14%,navy 64%);
}
::-webkit-scrollbar-track{
 background: white;
 border-radius: 7px;
    border:7px  solid black;
}