<header>Browse Manuscripts</header>

<content>
<table *appOrder=mss>
<tr> 
    <th (click)="mss=setSvc.orderBy(mss,'id')"
        class="sort">id</th>
    <th (click)="mss=setSvc.orderBy(mss,'manuscript')"
        class="sort">manuscript</th>
    <th (click)="mss=setSvc.orderBy(mss,'localisation')"
        class="sort"> localisation</th>
    <th (click)="mss=setSvc.orderBy(mss,'date')"
        class="sort">date</th>
    <th (click)="mss=setSvc.orderBy(mss,'script')"
        class="sort">script</th>
    <th (click)="mss=setSvc.orderBy(mss,'texts')"
        class="sort">texts</th>
    <th>Links</th>
</tr>
    
<tr *ngFor="let ms of mss"> 
    <th>{{ms.id}}</th>
    <td>{{ms.manuscript}}</td>
    <td>{{ms.localisation}}</td>
    <td>{{ms.date}}</td>
     <td>{{ms.script}}</td>
     <td>{{ms.texts}}</td>
    <th><a (click)=redirectToLaeme(ms.id) appRedirect="">L</a>
        
        <a [routerLink]="['/profile',ms.id]" target="_blank" appRedirect="manuscript.png"></a></th>
</tr>
    
    
</table>
</content>
