*{box-sizing: border-box}
#wrapper{
    position:sticky;
   /* top:0;*/
    background-color: var(--title1);
    padding: 0.3em;
    display:flex;
    flex-flow: row nowrap;
    z-index: 2000;
        border-radius: 0.2em;
    box-shadow: 0 0 0.5em var(--darkest) inset;
}

.searchPos{
        border-right: 3px ridge var(--dPaper);
    margin:0.1em;
     
}



input, button{
    border-radius:0.2em;
    margin:0.2em;
    width:6em;
}

input[type=text], select{
    background : white;
     box-shadow: 0 0 0.5em var(--paper) inset;
    padding:0.2em;
    border: 1px inset var(--dPaper);
    color:black;
}


/*FORMS*/
input, button{
    border-radius:0.2em;
    margin:0.2em;
}

button{
    border:2px outset var(--paper);
    background: linear-gradient(var(--dPaper),var(--paper));
    font-weight:bold;
    padding:0.2em;
    font-size:var(--normalText);
}

button:hover{
    box-shadow:0 0 0.2em white;
    background: linear-gradient(var(--paper),var(--dPaper));
}

.icon{
    background:var(--darkest);
    border:2px solid var(--paper);
    color:var(--paper);
    cursor:pointer;
    
}

.icon:hover{
    background: transparent;
}