
#wrapper{
    position:absolute;
    top:0;
    background-color: #2e200d;
    padding: 0.3em;
    display:flex;
    flex-flow: row nowrap;
    z-index: 2000
}

.searchPos{
    border:1px dashed #c17a10;
    margin:0.1em;
}


input, button{
    border-radius:0.2em;
    margin:0.2em;
    width:6em;
}

input[type=text], select{
    background : white;
     box-shadow: 0 0 0.5em #c17a10 inset;
    padding:0.2em;
    border: 1px inset #c17a10;
    color:black;
}

button{
    border:2px outset #df8f17;
    background: linear-gradient(#c17a10,#df8f17);
    font-weight:bold;
    padding:0.1em;
    margin:0.1em;
}

.icon{
    background:transparent;
    border:2px solid #4f391b;
    color:#4f391b;
    cursor:pointer;
    font-weight:bold;
    font-size:14pt;
}

button:hover{
    box-shadow:0 0 0.2em white;
}