#wrapper{width:100%;
height:100%;
display:flex;
flex-flow:column nowrap;}

header{
    width:100%;
    background:#2e200d;
    height:7%;
    display: flex;
    flex-flow: row nowrap;
    color:#df8f17;
    font-size:16pt;
    padding-left:8em;
    border-bottom: 2px solid #df8f17;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h3{
    padding:0.1em;
}


content{
    height:93%;
    width:100%;
    display:flex;
    flex-flow: column nowrap;
}


#profiles{
    width:100%;
    height:50%;
      display:flex;
    flex-flow: row nowrap;
}

#msTools{
      width:100%;
    height:50%;
    padding-top:2%;

}

