<div id=wrapper>
    <header><h1>Text Comparison: {{preloaded}} </h1>
    
        <span>
        <button [appExpansion]="profiles" expandMax="50%"></button>
          <a appRedirect="network.png" class=icon [routerLink]="['/network/getCorresp',preloaded.join(',')]" target="_blank"></a>
        </span>
        
        
        
    
    </header>

<content>
    <div id=profiles #profiles>
    <div id="container" #container></div>
    </div>
    
    <div id=msTools>
        <app-ms-tools mode="nested" #msTools></app-ms-tools>
    </div>
    
</content>

</div>